<template>
  <v-row justify="center">
    <v-btn color="primary" dark @click.stop="dialog = true">
      Open Dialog
    </v-btn>

    <v-dialog v-model="dialog" max-width="35%">
      <v-card>
        <v-col class="alignRight">
          <v-icon @click.stop="dialog = false">mdi-close</v-icon>
        </v-col>

        <p class="text-title alignCenter">
          Importar um currículo
        </p>

        <p class="text-subtitle alignCenter">
          Selecione como deseja importar
        </p>

        <v-row no-gutters>
          <v-col md="6">
            <v-card class="pa-2 cards" outlined tile>
              <v-img src="../assets/lattes.png" aspect-ratio="1"></v-img>
            </v-card>
          </v-col>

          <v-col md="6">
            <v-card class="pa-2 cards" outlined tile>
              <v-img src="../assets/sucupira.jpg" aspect-ratio="1"></v-img>
            </v-card>
          </v-col>
        </v-row>

        <v-card-actions>
          <div class="flex-grow-1"></div>

          <v-btn small @click="dialog = false" dark color="#00AD99">
            Avançar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      dialog: false
    };
  }
};
</script>

<style>
.v-card {
  font-family: "Open Sans", sans-serif;
}
.row.no-gutters {
  margin: 3rem;
}
.v-image__image--cover {
  background-size: 100% !important;
}
.v-responsive.v-image {
  height: 100%;
}
.cards {
  height: 100px;
  margin: auto;
  width: 250px;
}
.alignRight {
  text-align: right;
}
.alignCenter {
  text-align: center;
}
.coluns {
  padding: 5px 10px;
}
.text-title {
  font-size: 36px;
  font-weight: bold;
}
.text-subtitle {
  font-size: 24px;
  color: grey;
}
.v-application p {
  margin-bottom: 0px;
}
</style>
