<template>
  <v-row justify="center">
    <v-dialog persistent v-model="dialog" max-width="45%">
      <v-card>
        <v-col class="alignRight">
          <v-icon @click.stop="close">mdi-close</v-icon>
        </v-col>

        <p class="text-title alignCenter">
          Importar um currículo
        </p>

        <p class="text-subtitle alignCenter">
          Selecione como deseja importar
        </p>

        <v-row no-gutters>
          <v-col md="6">
            <v-card
              :class="isEnabled('lattes')"
              @click="selected = 'lattes'"
              class="img-card"
              outlined
              tile
            >
              <v-img
                width="335"
                src="../assets/plataforma_lattes.svg"
                contain
              ></v-img>
            </v-card>
          </v-col>

          <v-col md="6">
            <v-card
              :class="isEnabled('sucupira')"
              @click="selected = 'sucupira'"
              class="img-card"
              outlined
              tile
            >
              <v-img width="335" src="../assets/plataforma_sucupira.png" contain></v-img>
            </v-card>
          </v-col>
        </v-row>

        <v-card-actions>
          <div class="flex-grow-1"></div>

          <v-btn
            small
            :disabled="selected == ''"
            @click="submit"
            color="#00AD99"
            v-bind:style="{ color: whiteColor }"
          >
            Avançar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      whiteColor: "#fff",
      selected: ""
    };
  },
  props: {
    dialog: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    close() {
      this.$emit("close");
      this.selected = "";
    },
    submit() {
      this.$emit("submit", this.selected);
      this.close();
    },
    isEnabled(enabled) {
      if (enabled != this.selected && this.selected != "") {
        return "disabled";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.v-card {
  font-family: "Open Sans", sans-serif;
}
.row.no-gutters {
  margin: 5rem 2.5rem;
}
.v-image__image--cover {
  background-size: 100% !important;
}
.v-responsive.v-image {
  height: 100%;
}
.img-card {
  height: 100px;
  margin: auto;
  padding: 10px;
  width: 335px;
}
.alignRight {
  text-align: right;
}
.alignCenter {
  text-align: center;
}
.coluns {
  padding: 5px 10px;
}
.text-title {
  font-size: 36px;
  font-weight: bold;
}
.text-subtitle {
  font-size: 24px;
  color: grey;
}
.v-application p {
  margin-bottom: 0px !important;
}
.disabled {
  filter: opacity(30%) grayscale(100%);
}
.v-card__actions {
  padding: 16px !important;
}
</style>
