<template>
  <v-app>
    <v-col>
      <v-btn color="primary" dark @click.stop="dialog = true">
        + CURRÍCULOS
      </v-btn>
    </v-col>
    <Modal :dialog="dialog" @close="dialog = false" @submit="modo" />

    Foi selecionado: {{ textValue }}
  </v-app>
</template>

<script>
import Modal from "./components/Modal";

export default {
  name: "App",
  components: {
    Modal
  },
  data: () => ({
    //
    dialog: false,
    textValue: ""
  }),
  methods: {
    modo(selected) {
      this.textValue = selected;
    }
  }
};
</script>
